{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Let's do Workout!</h1>
</div>
<p class="lead">Today is "{{weekday}}". This is what we gonna do today.
</p>

{% if date_index > 4 or date_index == 2 %}
<div>
	<p>Take a rest. Prepare for tomorrow</p>
</div>
{% else %}
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">Workout</th>
	      <th scope="col">REP X SET</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% if date_index in [0, 3] %}
		  {% for i in day1_wod %}
		  	<tr>
			    <td>{{i}}</td>
			    <td> 5 X 5</td>
		    </tr>
		  {% endfor %}
		{% else %}
		  {% for i in day2_wod %}
		    <tr>
			    <td>{{i}}</td>
			    <td> 5 X 5</td>
		    </tr>
		  {% endfor %}
		{% endif %}
	  </tbody>
	</table>

	<input type="button" value="Start!"> 
{% endif %}

{% endblock %}
