{% extends 'layouts/main.html' %}
{% block title %}Program{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Enrolled Program List</h1>
</div>
<p class="lead">
  This section will be filled with various routine.
  For now, just put one program.
</p>

<div>
	<p class="lead">{{wod["name"]}}</p>	
	<table class="table" style="border">
	  <tbody>
	  	{% for opt_index in range(wod["option"]|length) %}
  	    <tr>
		  <th scope="row">Routine {{opt_index + 1}}</th>
		  {% for program, rep in wod["option"][opt_index].iteritems() %}
		  	<td>{{program}} {{rep}}</td>
		  {% endfor %}

		  {% for i in range( 3- wod["option"][opt_index]|length ) %}
		  	<td></td>
		  {% endfor %}
		</tr>
    	{% endfor %}
	  </tbody>
	</table>  	
</div>	  

{% endblock %}
